version: 2

jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:cosmic
    steps:
      - checkout
      - run:
          name: Installing GCC
          command: 'sudo apt-get update && apt-get install -y gcc g++'
      - run:
          name: Install CMAKE
          command: 'sudo apt-get update && sudo apt-get install -y cmake'
      - run:
          name: Creating Build Files
          command: 'cmake -H. -Bbuild'
      - run:
          name: Creating Binary Files
          command: 'cmake --build build'
